*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.menu{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
   #menu{
    display: none;

   }
   #menubutton{
    display: block;
   }