*{
    margin: 0px;
    padding: 0px;
}

#page{
    width: 1200px;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#cabecalho{
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.575);
    display: flex;
    justify-content: space-between;
}
#cabecalho h1{
    color: white;
    font-size: 30pt;
}
a{
    text-decoration: none;
    color: white;
    font-size: 18pt;
}
main{
    width: 700px;
    height: auto;
    margin: 0px auto;
    

}
h3, h4, hr{
    text-align: center;
}

.foto{
    width: 80%;
    height: auto;
    
}
.borda{
    border: 1pt solid #2a2b2a;
    padding: 30px;
    display: flex;
    align-content: row;
    align-items: center;
   
}
/* COR CINZA */
background-color: #2A2B2A;

/* COR ROSA */
background-color: #F5124B;